<template>
    <div class="container about">
      <h1>This is an about connection</h1>
    </div>
  </template>

  <style scoped>
   @media screen and (max-width: 800px) {
		.about{
		padding-top: 12vh;
	}
}
  </style>