<template>
    <div class="container about">
      <h1>This is an about MyCollect</h1>
    </div>
  </template>

  <style>
    .about{
      padding-top: 10vh;
    }
    @media screen and (max-width: 800px) {
		.about{
		padding-top: 12vh;
	}
}
  </style>