<template>
    
<div class="footer-outer" id="footer">
    <div class="container">
        <div class="row">
                <section class="2u 6u(narrower) 12u$(mobilep)">
                        <h3>{{$t("footer.Societe")}}</h3>
                        <ul class="links">
                            <li> <a href="https://faroty.com/index.php?r=site/about">faroty SAS</a></li>							
                            <li><a href="https://faroty.com/index.php?r=site/joinus">{{$t("footer.Carrieres")}}</a></li>
                            <li><a href="https://faroty.com/index.php?r=site/contact">{{$t("footer.Actualites")}}</a></li>								
                        </ul>
                </section>
            
                <section class="3u 6u(narrower) 12u$(mobilep)">
                        <h3>{{$t("footer.Business")}}</h3>
                        <ul class="links">                            
                            <li><a href="https://faroty.com//index.php?r=site/crowdfunding">{{$t("footer.Demandez_un_partenariat")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/epass">{{$t("footer.Devenez_investisseur")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/mycollect">{{$t("footer.Decouvrez_nos_API")}}</a></li>										
                        </ul>
                </section>
            
                <section class="2u 6u(narrower) 12u$(mobilep)">
                        <h3>{{$t("footer.Communaute")}}</h3>
                        <ul class="links">                            
                            <li><a href="https://faroty.com//index.php?r=site/auth&pid=join">{{$t("footer.Assistance")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/auth">{{$t("footer.Conditions_generales")}}</a></li>
                            <li><a href="https://faroty.com//index.php?r=site/download">{{$t("footer.Politique_de_confidentialite")}}</a></li>										
                        </ul>
                </section>

                <section class="2u 6u$(narrower) 12u$(mobilep)">
                    <h3 style="margin-bottom:5px">{{$t("footer.Langue")}}</h3>
                        <select id="language" class="language" name="language" v-model="$i18n.locale">
                            <option value="fr" selected="selected">Français</option>
                            <option value="en">English</option>
                        </select>              

               </section>
        </div>

    <!-- Icons -->
         <ul class="icons">
        
                <li><a href="https://www.twitter.com/farotyMe/"  style=" color: #8352A5; font-size: 25px;" target="_blank" class="fab fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/farotyMe/" style=" color: #8352A5; font-size: 25px;" target="_blank"  class="fab fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.youtube.com/channel/UCuaO5-8_MT9tykgaOFzPZHg" style=" color: #8352A5; font-size: 25px;" target="_blank"  class="fab fa-youtube"><span class="label">Youtube</span></a></li>
        </ul>

           
    <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                        <li>&copy; Copyright 2018 - {{ new Date().getFullYear() }} Faroty. All rights reserved</li>
                    </ul>
            </div>
    </div>		
</div>

</template>

<script>

export default{
    data() {
        return {
            // key: value
        }
    },
}
</script>

<style  scoped>
 .row{
    justify-content: space-between;
 }
 section h3{
    color: #fff;
 }
 #language{
    border-radius: 15px;
    border: none;
 }
 ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;			
                        background-color: #fff;
                        padding: 7px 0 0 0;
                        margin: 0 10px 0 10px;
                        height: 40px;
                        width: 40px;
                        border-radius: 40px;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li a, ul.icons li span {				
				border: 0;
			}

 #footer .icons {  

      text-align: center;
      margin: 0;
		}
 
    #footer .icons li a {                    
            color:#5C297F;
            font-size: 25px;
    }

    #footer .icons a:hover {
            color: #8352A5;
    }

  

 .links li a {
    color: antiquewhite;
 }
 .links li {
    list-style: none;
 }
 .copyright ul li{
    color: wheat;
 }
</style>
