<template>
        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
			<router-link class="navbar-brand" to="/"> <img src="../assets/farotylogo.png" alt="faroty"></router-link>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav nav-items-center ml-auto mr-auto">
				<li class="nav-item active">
					<router-link class="nav-link" to="/" href="#">{{$t("navbar.home")}}</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/mycollect">MyCollect</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/crowfunding">Crowdfunding</router-link>
				</li>
				<li class="nav-item">
					<router-link class="nav-link" to="/webpages">Webpages</router-link>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{$t("navbar.comment_sa_marche")}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<router-link class="dropdown-item" to="/mycollect">{{$t("navbar.aide_mycollect")}}</router-link>
						<router-link class="dropdown-item" to="/mycollect">{{$t("navbar.aide_crowfunding")}}</router-link>
						<router-link class="dropdown-item" to="/mycollect">{{$t("navbar.aide_webpages")}}</router-link>
					</div>
                </li>
				<li class="nav-item">
					<router-link class="nav-link" to="/connection">Connection</router-link>
				</li>
			</ul>
			<div class="dawnload">
				<button class="connection">{{$t("common.download")}}</button>
			</div>
		</div>
	</nav>

    
</template>

<script>
    export default{
        data() {
            return {
                // key: value
            }
        },

    }
</script>
<style scoped>


.dropdown-menu{
	background-color: #8352a5;
}
.dropdown .dropdown-menu .dropdown-item{

	font-size: 16px;
    font-weight: 550;	
}
.navbar-brand{
  width: 17%;
}
.navbar-brand img{
  width: 45%;
  margin: auto;

}
.connection{
	height: 45px;
	padding: 5px 20px;
	cursor: pointer;
	font-size: 18px;
	line-height: 24px;
	white-space: nowrap;
	border: 2px solid #5C297F;
	background-color: #fff;
	color: #000000;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 25px 25px 25px 25px;
}
.connection:hover{
	background-color: #5C297F;
	color: #fff;
	font-weight: 550;
    
}

@media screen and (max-width: 1200px) {
 
 .navbar-brand{
	width: 30%;
 }
  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
@media screen and (max-width: 800px) {
 
 .navbar-brand{
	width: 50%;
 }

}
@media screen and (max-width: 520px) {
 
 .navbar-brand{
	width: 50%;
 }
  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
</style>






<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
		<li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
     <a class="nav-link" href="#">Features</a>
		</li>
		<li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
		</li>
		
      </ul>
	</div>
  </nav> -->